#title {
  position: absolute;
  top: -20px;
  font-size: 8em;
  right: 10px;
  color: rgba(255, 255, 255, 0.1);
}

.button-container {
  margin-top: auto;
}

.button-container .top {
  text-align: center;
}

.button-container .bottom {
  text-align: center;
  margin-top: 1.5rem;
}
