@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap');

:root {
  --bg-primary: #1e1e24;
  --bg-secondary: #141418;
  --clr-ligthpink: #ff7eee;
  --clr-hotpink: #df49a6;
  --clr-purple: #6649b8;
  --transition-speed: 600ms;
  --clr-white: #fff;
  --clr-black: #222;
  --ff-primary: 'Open Sans', sans-serif;
  --spacing: 0.1rem;
  --transition: all 0.3s linear;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to top, #f64f59, #c471ed, #12c2e9);
  /* background: #161623; */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: var(--ff-primary);
}

body::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  content: '';
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  flex-wrap: wrap;
  z-index: 1;
}

.container .card {
  position: relative;
  border: 1px solid black;
  width: 300px;
  height: 400px;
  margin: 30px;
  border-radius: 15px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
}

.container .card .content {
  padding: 20px;
  height: 85%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#title {
  position: absolute;
  top: -20px;
  font-size: 8em;
  right: 10px;
  color: rgba(255, 255, 255, 0.1);
}

#counter {
  font-size: 7em;
  font-weight: 600;
}

.button-container {
  margin-top: auto;
}

.button-container .top {
  text-align: center;
}

.button-container .bottom {
  text-align: center;
  margin-top: 1.5rem;
}

.btn {
  text-transform: uppercase;
  background: var(--bg-secondary);
  padding: 0.5rem 2rem;
  border-radius: 0.25rem;
  display: inline-block;
  color: var(--clr-white);
  letter-spacing: var(--spacing);
  font-size: 1.1rem;
  border: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  margin: 0.5rem;
  transform: scale(1);
  transition: 0.3s linear;
  cursor: pointer;
}

.btn .icon {
  transform: rotate(0deg);
  transition: 0.2s ease;
}

.btn:hover {
  background: transparent;
  transform: scale(1.1);
}

.btn:hover .icon {
  transform: rotate(360deg);
}

.white {
  color: var(--clr-white);
}

.red {
  color: #bd1227;
}

.green {
  color: #50c878;
}
