@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap');

:root {
  --bg-primary: #1e1e24;
  --bg-secondary: #141418;
  --clr-ligthpink: #ff7eee;
  --clr-hotpink: #df49a6;
  --clr-purple: #6649b8;
  --transition-speed: 600ms;
  --clr-white: #fff;
  --clr-black: #222;
  --ff-primary: 'Open Sans', sans-serif;
  --spacing: 0.1rem;
  --transition: all 0.3s linear;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to top, #f64f59, #c471ed, #12c2e9);
  /* background: #161623; */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: var(--ff-primary);
}

body::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  content: '';
}
